.room-name-top{
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.room-name-bottom{
	color: #BDBDBD;
	text-align: left;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.13px;
}